.property-detail-card {


    .gallery {
        margin-bottom: 1rem;

        img {
            width: 100%;
            /* border-radius: 12px; */
        }
    }
    .card-content{
        padding: 1rem 0;
    }

    .price {
        font-size: 1.8rem;
        font-weight: 600;
        color: #3f51b5;
    }

    .location {
        font-size: 1rem;
        color: #666;
    }

    .characteristics {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.95rem;
            color: #444;
        }

        mat-icon {
            color: #3f51b5;
        }
    }

    .description {

        h3 {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        p {
            color: #333;
            line-height: 1.5;
        }
    }

    .financial-details {
        margin-top: 2rem;
    }
}