<!-- Aperçu grille -->
<div class="gallery-preview">
  <div class="main-image" (click)="openFullscreen(0)">
    <img [src]="images[0]" alt="Image principale" />
  </div>

  <div class="thumbnail-grid">
    @for (img of images.slice(1, 5); track $index) {
      <div class="thumbnail" (click)="openFullscreen($index + 1)">
        <img [src]="img" alt="Image miniature" />
      </div>
    }

    @if (images.length > 5) {
      <div class="show-all" (click)="openFullscreen(0)">
        <span>+ {{ images.length - 5 }} photos</span>
      </div>
    }
  </div>
</div>

<!-- Swiper en plein écran -->
@if (showFullscreen) {
  <div class="fullscreen-overlay">
    <button class="close-btn" mat-icon-button (click)="closeFullscreen()">
      <mat-icon>close</mat-icon>
    </button>

    <swiper-container
      [zoom]="true"
      navigation="true"
      pagination="true"
      [initial-slide]="selectedIndex"
      class="fullscreen-swiper"
      style="--swiper-pagination-color: white"
    >
      @for (img of images; track $index) {
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img [src]="img" alt="Zoom image" />
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
}
