<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="mobile-sidenav" mode="over">
      <mat-nav-list>
        <a mat-list-item href="#" (click)="drawer.close()">Rechercher</a>
        <a mat-list-item href="#" (click)="drawer.close()">Vendre</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="drawer.toggle()" class="hide-desktop">
          <mat-icon>menu</mat-icon>
        </button>
  
        <!-- <span class="toolbar-title">ImmoOoOo</span> -->
        <img src="Immobox_logo_transparent.png" alt="Immobox" class="logo" />
        <span class="spacer"></span>
  
        <nav class="desktop-only">
          <a mat-button href="#">Rechercher</a>
          <a mat-button href="#">Vendre</a>
        </nav>
      </mat-toolbar>
  
      <!-- Ton contenu -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  