<footer class="footer">
    <div class="left">
      <span>&copy; 2025 Immobox. Tous droits réservés.</span>
    </div>
  
    <div class="right">
      <a href="mailto:contact@immobox.com" aria-label="Courriel">
        <mat-icon>mail</mat-icon>
        <span class="contact-label">Courriel</span>
      </a>
      <a href="https://wa.me/+14185751323" target="_blank" aria-label="WhatsApp">
        <mat-icon>phone</mat-icon>
        <span class="contact-label">WhatsApp</span>
      </a>
    </div>
  </footer>
  