<section class="search-banner">
  <div class="search-container">
    <form class="search-bar" [formGroup]="searchForm" (ngSubmit)="submit()" (reset)="resetForm()">

      <!-- Titre principal -->
      <div class="search-header">
        <h1 class="search-title white-font">NOUS TROUVONS VOTRE BIEN PARTOUT</h1>
        <p class="search-subtitle white-font">(OU PRESQUE)</p>
      </div>

      <!-- Type de transaction -->
      <div class="search-type-toggle">
        <mat-button-toggle-group formControlName="type" class="white-font">
          @for (type of propertyTypes; track type.value) {
          <mat-button-toggle [value]="type.value" [matTooltip]="type.tooltip" matTooltipClass="custom-tooltip"
            matTooltipPosition="above">
            <mat-icon fontIcon="{{ type.icon }}"></mat-icon>
            {{ type.label }}
          </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>


      <div class="type-region-delegation">
        <!-- Type de bien -->
        <mat-form-field appearance="outline" class="mx-w-11">
          <mat-label>Type de bien</mat-label>
          <input matInput formControlName="category" placeholder="Type de bien" [matAutocomplete]="categoryAuto" />
          <mat-autocomplete #categoryAuto="matAutocomplete">
            @for (category of propertyCategories; track category.value) {
            <mat-option [value]="category.label">
              <mat-icon>{{ category.icon }}</mat-icon> {{ category.label }}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <!-- Région -->
        <mat-form-field class="mx-w-11" appearance="outline">
          <mat-label>Région</mat-label>
          <input matInput formControlName="region" placeholder="Choisir une région" [matAutocomplete]="regionAuto" />
          <mat-autocomplete #regionAuto="matAutocomplete">
            @for (region of filteredRegions | async; track region.region) {
            <mat-option [value]="region.region">
              {{ region.region }}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <!-- Délégation -->
        <mat-form-field class="mx-w-13" appearance="outline">
          <mat-label>Délégation</mat-label>
          <input matInput formControlName="delegation" placeholder="Choisir une délégation"
            [matAutocomplete]="delegationAuto" />
          <mat-autocomplete #delegationAuto="matAutocomplete">
            @for (d of filteredDelegations | async; track d) {
            <mat-option [value]="d">
              {{ d }}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Boutons -->
      <div class="search-reset-btn">
        <button class="search-btn" type="submit" color="primary" aria-label="Rechercher">
          @if (!isLoading) {
          <mat-icon>search</mat-icon>
          } @else {
          <mat-spinner diameter="24" strokeWidth="3"></mat-spinner>
          }
        </button>
        <button class="reset-btn" type="reset" aria-label="Initialiser">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </form>
  </div>
</section>