.search-banner {
  background-image: url('https://cdn.centris.ca/public/qc/consumersite/images/Search_bg/Tablette-chalet-ile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.search-header {
  margin-bottom: 2rem;
}

.search-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.search-subtitle {
  font-size: 1.1rem;
  font-style: italic;
  color: #666;
}

.search-type-toggle {
  margin-bottom: 2rem;
  width: 100%;
}

mat-button-toggle-group {
  border-radius: 6px !important;
  overflow: hidden;
}

mat-button-toggle.mat-button-toggle-checked {
  background-color: #e0e7ff;
  color: white;
}

mat-button-toggle.mat-button-toggle-checked .selected-check {
  display: inline-block;
  margin-right: 4px;
}

.mat-mdc-form-field {
  margin-right: 2px !important;
}



.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* Search button */

.search-btn {
  height: 56px;
  width: 56px;
  border-radius: 12px;
  background-color: #4873ff;
  cursor: pointer;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background-color: #c7d2fe;
}

.search-btn:active {
  background-color: #e0e7ff;
}

.white-font {
  color: white;
}

.mat-button-toggle-appearance-standard {
  color: #ffffff;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-btn {
    align-self: center;
    margin-top: 1rem;
  }

  mat-form-field {
    width: 100%;
  }
}