

@font-face {
  font-family: 'Onest';
  src: url('assets/fonts/Onest/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('assets/fonts/Onest/Onest-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body { margin: 0; }
body {
    font-family: 'Onest','Rubik', sans-serif;
  }
  
  /* cache sur mobile */
.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }
}

.ji-c{
  justify-items: center;
}

